:root {
    --light-mode-text-color: 0, 132, 245;
    --light-mode-background-color: 242, 238, 226;

    --dark-mode-text-color: 228, 230, 235;
    --dark-mode-background-color: 24, 25, 26;
}

* {
    font-family: "Alata", sans-serif;
    font-size: 1rem;
}

body {
    background-color: rgb(var(--light-mode-background-color));
    transition: background-color 0.3s;
    color: rgb(var(--light-mode-text-color));
    border-color: rgb(var(--light-mode-text-color));
    transition: color 0.1s;

    line-height: 1.5;
    text-align: left;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

body.dark-mode {
    background-color: rgb(var(--dark-mode-background-color));
    color: rgb(var(--dark-mode-text-color));
}