:root {
    --light-mode-text-color: 0, 132, 245;
    --light-mode-background-color: 242, 238, 226;

    --light-mode-box-shadow-color: 70, 4, 101;

    --dark-mode-text-color: 228, 230, 235;
    --dark-mode-background-color: 24, 25, 26;

    --background-transition: background-color 1.5s cubic-bezier(0,0.9,.1,1);

    --section-title-size: clamp(3em, 5em, 12.5vw);
}

/* DEFINING FONT FACES */
@font-face {
    font-family: "Alata";
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/Alata/Alata-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend";
    font-size: 1rem;
    src: url("/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Alatsi";
    font-size: 1rem;
    src: url("/fonts/Alatsi/Alatsi-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Bombing";
    src: url("/fonts/Bombing/Bombing.ttf") format("truetype");
}

* {
  font-family: 'Lexend';
  font-weight: 400;
}

body {
    background-color: rgb(var(--light-mode-background-color));
    color: rgb(var(--light-mode-text-color));
    border-color: rgb(var(--light-mode-text-color));

    transition: var(--background-transition), color 0.3s;

    line-height: 1.5;
    text-align: left;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

body.dark-mode {
    background-color: rgb(var(--dark-mode-background-color));
    color: rgb(var(--dark-mode-text-color));
}
